@{
    ViewBag.Title = "Project - TwiTur";
}

<div id="content-title">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h3 class="title">TwiTur</h3>
            </div>
            <div class="span3">
                <ul class="pager">
                    <li class="next">
                        <a href="projects.html" class="shake">← Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div id="content-body" class="services">

    <div class="container">

        <div class="row-fluid">

            <div class="span4">
                <h4 class="title grey">Project Details</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="bold">Company:</td>
                            <td>Data-Avail</td>
                        </tr>
                        <tr>
                            <td class="bold">Website URL:</td>
                            <td><a href="#">www.twitur.ru</a></td>
                        </tr>
                        <tr>
                            <td class="bold">Project Goal:</td>
                            <td>Service allow find tours by criteria, store filters, invoke notifications when new tours found and contact to tour sellers.
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">Challenges:</td>
                            <td>Project designed and build as <a href="#">single web page application</a>.
                                <br />
                                Large voulmes of data to work with.
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">Duration:</td>
                            <td>5 months</td>
                        </tr>
                        <tr>
                            <td class="bold">Team:</td>
                            <td>Putilov Maxim - Project Manager, Developer<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="span8">

                <div class="row-fluid">
                    <div class="span12">
                        <div class="flexslider flexslider_single clearfix">

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 800%; -webkit-transition: 0.6s; -webkit-transform: translate3d(0px, 0, 0);">
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #2" href="assets/img/work/work1.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work1.jpg" alt="project 2">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #2</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #2" href="assets/img/work/work2.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work2.jpg" alt="project 2">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #2</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #3" href="assets/img/work/work3.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work3.jpg" alt="project 3">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #3</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #4" href="assets/img/work/work4.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work4.jpg" alt="project 4">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #4</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ol class="flex-control-nav flex-control-paging">
                                <li><a class="flex-active">1</a></li>
                                <li><a class="">2</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row-fluid margin-top-70">
                    <div class="span6">
                        <h4 class="title grey">baio-mongo (npm package)</h4>
                        <p>
                            Little helper library for native nodejs mongodb driver.
                        </p>
                        <p>
                            Features:
                        </p>
                        <ul>
                            <li>Open connection with connection string</li>
                            <li>Read / Write data in a single line of code</li>
                        </ul>
                        <div><a href="https://github.com/baio/baio-mongo">source</a></div>
                        <div><a href="https://npmjs.org/package/baio-mongo">npm</a></div>
                        <h4 class="title grey">Open-MVC (nuget package)</h4>
                        <p>
                            Allow users login to your site with bunch of open id and oauth services.
                        Works with Facebook, Twitter, Google, VKontakte and variety of open id providers. Supported MVC versions: 3, 4
                        </p>
                        <div><a href="https://github.com/baio/open-mvc">source</a></div>
                        <div><a href="https://nuget.org/packages/Open-MVC">nuget</a></div>
                    </div>
                    <div class="span6">
                        <p>
                            <iframe src="http://player.vimeo.com/video/9178386?badge=0" width="100%" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
