@{
    ViewBag.Title = "Project - TwiTur";
}

<div id="content-title">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h3 class="title">TwiTur</h3>
            </div>
            <div class="span3">
                <ul class="pager">
                    <li class="next">
                        <a href="projects.html" class="shake">← Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div id="content-body" class="services">

    <div class="container">

        <div class="row-fluid">

            <div class="span4">
                <h4 class="title grey">Project Details</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="bold">Company:</td>
                            <td>Data-Avail</td>
                        </tr>
                        <tr>
                            <td class="bold">Website URL:</td>
                            <td><a href="#">www.twitur.ru</a></td>
                        </tr>
                        <tr>
                            <td class="bold">Project Goal:</td>
                            <td>Service allow find tours by criteria, store filters, invoke notifications when new tours found and contact to tour sellers.
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">Challenges:</td>
                            <td>Project designed and build as <a href="#">single web page application</a>.
                                <br />
                                Large voulmes of data to work with.
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">Duration:</td>
                            <td>5 months</td>
                        </tr>
                        <tr>
                            <td class="bold">Team:</td>
                            <td>Putilov Maxim - Project Manager, Developer<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="span8">

                <div class="row-fluid">
                    <div class="span12">
                        <div class="flexslider flexslider_single clearfix">

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 800%; -webkit-transition: 0.6s; -webkit-transform: translate3d(0px, 0, 0);">
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #2" href="assets/img/work/work1.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work1.jpg" alt="project 2">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #2</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #2" href="assets/img/work/work2.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work2.jpg" alt="project 2">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #2</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #3" href="assets/img/work/work3.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work3.jpg" alt="project 3">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #3</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #4" href="assets/img/work/work4.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work4.jpg" alt="project 4">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #4</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ol class="flex-control-nav flex-control-paging">
                                <li><a class="flex-active">1</a></li>
                                <li><a class="">2</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row-fluid margin-top-70">
                    <div class="span6">
                        <h4 class="title grey">Summary & Objectives</h4>
                        <p>
                            Ural is a MV* framework for single web page applications written with coffeescript.
                            Although there is a lot similar frameworks such as backbone, javascriptmvc, durandaljs and more, no one of them is prominent or near to become de facto standard for the developers
                             community. Since that the conventional wisdom here is - “It is easier to write your own web client MVC framework than to explore all variety of existed”
                            <p>
                                Also each of the framework has own set of key features which may or may not be exactly fit to your needs or technologies of your preference.
                            </p>
                        </p>
                        <h4>Implementation
                        </h4>
                        <p>
                            The library is written with coffeescript and implement Model View Controller code paradigm.
                            The code implementation was inspired by ASP.NET MVC framework and borrow many conceptual elements from there.
                        </p>
                        <p>The following 3rd party javascript libraries are used in core of the library:</p>
                        <ul>
                            <li>jquery</li>
                            <li>knockoutjs</li>
                            <li>requirejs</li>
                            <li>unsderscore</li>
                            <li>amplify</li>
                            <li>async</li>

                        </ul>
                        <h4>Features</h4>
                        <ul>
                            <li>MV* style single web page application framework</li>
                            <li>html templates via jsrender</li>
                            <li>allow use partial views</li>
                            <li>binding UI with data via knockoutjs</li>
                            <li>async modules load via requirejs</li>
                            <li>moduled code implementation, replace your application components as you wish</li>
                            <li>navigation between pages via routers</li>
                            <li>plugins system for UI components</li>
                            <li>open source</li>

                        </ul>
                    </div>
                    <div class="span6">
                        <p>
                            <iframe src="http://player.vimeo.com/video/9178386?badge=0" width="100%" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
