@{
    ViewBag.Title = "Project - WinForms";
}

<div id="content-title">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                <h3 class="title">WinForms</h3>
            </div>
            <div class="span3">
                <ul class="pager">
                    <li class="next">
                        <a href="projects.html" class="shake">← Back</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div id="content-body" class="services">

    <div class="container">

        <div class="row-fluid">

            <div class="span4">
                <h4 class="title grey">Project Details</h4>
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="bold">Company:</td>
                            <td>Data-Avail</td>
                        </tr>
                        <tr>
                            <td class="bold">Website URL:</td>
                            <td><a href="#">www.github.com/baio/WinForms</a></td>
                        </tr>
                        <tr>
                            <td class="bold">Project Goal:</td>
                            <td>Create MVC framework for WinForm applications.
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">Challenges:</td>
                            <td>Reimplement default event driven model of WinForms application with MVC.
                            </td>
                        </tr>
                        <tr>
                            <td class="bold">Duration:</td>
                            <td>6 months</td>
                        </tr>
                        <tr>
                            <td class="bold">Team:</td>
                            <td>Putilov Maxim - Project Manager, Developer<br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="span8">

                <div class="row-fluid">
                    <div class="span12">
                        <div class="flexslider flexslider_single clearfix">

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <ul class="slides" style="width: 800%; -webkit-transition: 0.6s; -webkit-transform: translate3d(0px, 0, 0);">
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #2" href="assets/img/work/work1.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work1.jpg" alt="project 2">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #2</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #2" href="assets/img/work/work2.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work2.jpg" alt="project 2">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #2</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #3" href="assets/img/work/work3.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work3.jpg" alt="project 3">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #3</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li style="width: 385px; float: left; display: block;">
                                        <div class="work img-polaroid">
                                            <a class="fancybox-button" rel="fancybox-button" title="Feature #4" href="assets/img/work/work4.jpg">
                                                <div class="overlay-zoom">
                                                    <img src="/assets/img/work/work4.jpg" alt="project 4">
                                                    <div class="zoom-icon"></div>
                                                    <div class="desc">Feature #4</div>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <ol class="flex-control-nav flex-control-paging">
                                <li><a class="flex-active">1</a></li>
                                <li><a class="">2</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="row-fluid margin-top-70">
                    <div class="span6">
                        <h4 class="title grey">Summary & Objectives</h4>
                        <p>
                            Data-Avail WinForms is a MV* framework on the base of NET. Windows Forms libraries.
                        Default NET. Windows Forms application provides for developer event driven code paradigm with design time utilities and code behind model, Data-Avail WinForms framework shift this paradigm to MV* code implementation.
                        </p>
                        <p>
                            The framework also makes it possible to implement whole application using only XML templates which describes data layer, user interfaces and security settings.
                        </p>
                        <h4>Implementation</h4>
                        <p>
                            The library is implemented with C#. User interface components use DevExpress WinForms Library. Access to data layers implemented with DevArt data providers.
                        </p>
                        <p>
                            The library implemented as Model View Controller framework which provides following general interfaces:
                        </p>
                        <ol>
                            <li>Controller </li>
                            <li>ICommand </li>
                            <li>IDataAdapter </li>
                            <li>Binding  </li>
                        </ol>
                        <h4>Features</h4>
                        <ol >
                            <li><span>MV* style framework for data centric Windows Forms applications</span></li>
                            <li><span>Build applications with no coding, using only XML templates</span></li>
                            <li><span>Plugin system for UI components</span></li>
                            <li><span>Moduled code implementation</span></li>
                            <li><span>Use modern 3rd party components and libraries</span></li>
                            <li><span>Open source</span></li>
                        </ol>
                    </div>
                    <div class="span6">
                        <p>
                            <iframe src="http://player.vimeo.com/video/9178386?badge=0" width="100%" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
