@{
    ViewBag.Title = "About";
    var latestTweets = (dal.Models.TwitModel[])ViewBag.LatestTweets;
}

<div id="content-title">

    <div class="container">
        <h3 class="title">About</h3>
    </div>

</div>
<!-- /content-title -->

<div id="content-body">

    <div class="container">

        <div class="row-fluid">

            <div class="span8">

                <h4 class="title grey">Company</h4>

                <div class="row-fluid">
                    <div class="span12">
                        <p>
                        We are command of mature professionals, who excited to develop top edge IT products, solve hard problems and enjoying satisfaction of your clients. Core of your team is based in Moscow, Russia, though there are some people who works with us remotely or on part-time basis.
                        </p>
                    </div>
                </div>

                <hr class="dashed">

                <h4 class="title grey">Meet the Team</h4>
                <div class="row-fluid">
                    <div class="span12">
                        <h5 class="title grey">Max Putilov, CEO.</h5>
                        <p>
                            <img src="/img/max-1.jpg" class="img-polaroid" alt="" align="right">
                                Working in industry more than 10 years, started with programming for POS terminals, then move to desktop windows development and now master web development area. Has expertise knowledge of C#, ASP.NET MVC and web clients technologies such as JavaScript and CoffeeScript. Likes to discover new  areas and technologies which empower development process and make it easier and more fun. In spare time excited to learn new subjects (not only programming stuff) on coursera and to compensate sedentary living style likes to run and snowboard.                        
                        </p>
                        <div class="margin-top-5 pull-right">
                            <a href="http://www.linkedin.com/pub/max-putilov/25/b56/807" class="iconify" target="_blank"><i class="icon-linkedin"></i></a>
                            <a href="https://plus.google.com/u/0/108663543178600228657/posts" class="iconify" target="_blank"><i class="icon-google-plus"></i></a>
                            <a href="https://twitter.com/baio1980" class="iconify" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="https://www.facebook.com/baio1980" class="iconify" target="_blank"><i class="icon-facebook"></i></a>
                            <a href="https://github.com/baio" class="iconify" target="_blank"><i class="icon-github"></i></a>
                        </div>
                    </div>
                    <div class="clearfix visible-phone"></div>
                </div>
                <p>
                </p>
            </div>

            <div class="span4">

                <h4 class="title dark-grey">Latest Tweets</h4>
                <div class="media">
                    <div class="media-body">
                        <div class="bold">Data-Avail. @@@latestTweets[0].Name</div>
                        @Html.Raw(@latestTweets[0].Text)
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <div class="bold">Data-Avail. @@@latestTweets[1].Name</div>
                        @Html.Raw(@latestTweets[1].Text)
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
<!-- /content-body -->

