@{
    ViewBag.Title = "Contact";
}


<div id="content-title">

    <div class="container">
        <h3 class="title">Contact</h3>
    </div>

</div>

<div id="content-body">

    <div class="container">

        <div class="row-fluid">

            <div class="span3">

                <h4 class="title grey">Contact Info</h4>

                <p><strong>Data-Avail Inc</strong></p>
                <p>Sadovaya-Triumphalnaya Street 14, Moscow</p>
                <p>Russia</p>

                <p>
                    Phone: +7 985 3122802<br>
                </p>
                <p>Email: <a href="mailto:info@data-avail.com" class="">info@data-avail.com</a></p>
                <div class="clearfix">
                    <a href="http://www.linkedin.com/company/data-avail" class="iconify" target="_blank"><i class="icon-linkedin"></i></a>
                    <a href="https://twitter.com/dataavail" class="iconify" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="https://github.com/data-avail" class="iconify" target="_blank"><i class="icon-github"></i></a>
                </div>
            </div>
            <div class="span9">

                <h4 class="title grey">Find Us</h4>

                <iframe width="800" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%D1%81%D0%B0%D0%B4%D0%BE%D0%B2%D0%B0%D1%8F+%D1%82%D1%80%D0%B8%D1%83%D0%BC%D1%84%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F+12%2F14&amp;aq=&amp;sll=55.771082,37.601223&amp;sspn=0.007326,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=Sadovaya-Triumfal'naya+ulitsa,+14,+Moskva&amp;ll=55.771082,37.601223&amp;spn=0.007326,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ru/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=%D1%81%D0%B0%D0%B4%D0%BE%D0%B2%D0%B0%D1%8F+%D1%82%D1%80%D0%B8%D1%83%D0%BC%D1%84%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F+12%2F14&amp;aq=&amp;sll=55.771082,37.601223&amp;sspn=0.007326,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=Sadovaya-Triumfal'naya+ulitsa,+14,+Moskva&amp;ll=55.771082,37.601223&amp;spn=0.007326,0.021136&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
            </div>

        </div>
    </div>

</div>



