@{
    ViewBag.Title = "Main Page";
    var latestTweets = (dal.Models.TwitModel[]) ViewBag.LatestTweets;
}
<div id="slider" class="clearfix">

    <div id="latest_work">

        <div class="container">

            <div class="margin-top-15 margin-bottom-30">

                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="work img-polaroid">
                                <div class="work-item">
                                    <img src="img/work/bahia.jpg" alt="TwiTur.ru" width="274" height="206">
                                    <div class="work-info">
                                        <div class="work-title">TwiTur.ru</div>
                                        <div class="work-body">Agile tour searcher.</div>
                                        <a class="work-link shake" href="Project/TwiTur"><i class="icon-plus"></i>&nbsp;Learn more</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    Find tours without hustle.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="work img-polaroid">
                                <div class="work-item">
                                    <img src="img/work/zav3.jpg" alt="zava.ru" width="274" height="206">
                                    <div class="work-info">
                                        <div class="work-title">Zava.su</div>
                                        <div class="work-body">Mountain ski resort site.</div>
                                        <a class="work-link shake" href="Project/Zava"><i class="icon-plus"></i>&nbsp;Learn more</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    Portal for Zavjalikha mountain ski resort.
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="work img-polaroid">
                                <div class="work-item">
                                    <img src="img/work/election2012.jpg" alt="prezek.org" width="274" height="206">
                                    <div class="work-info">
                                        <div class="work-title">Prezek.org</div>
                                        <div class="work-body">Find your election post in Moscow.</div>
                                        <a class="work-link shake" href="Project/Prezek"><i class="icon-plus"></i>&nbsp;Learn more</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    Find Moscow's election posts.
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="work img-polaroid">
                                <div class="work-item">
                                    <img src="img/work/winform.jpg" alt="Data-Avail WinForms">
                                    <div class="work-info">
                                        <div class="work-title">Data-Avail WinForms</div>
                                        <div class="work-body">MVC framework for WinForms.</div>
                                        <a class="work-link shake" href="Project/WinForms"><i class="icon-plus"></i>&nbsp;Learn more</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    Data centric applications builder.
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="work img-polaroid">
                                <div class="work-item">
                                    <img src="img/work/ural.jpg" alt="Ural SPA framework">
                                    <div class="work-info">
                                        <div class="work-title">Ural SPA framework</div>
                                        <div class="work-body">MVC framework for web applications.</div>
                                        <a class="work-link shake" href="Project/Ural"><i class="icon-plus"></i>&nbsp;Learn more</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    Single page application framework.
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <div class="work img-polaroid">
                                <div class="work-item">
                                    <img src="img/work/books.jpg" alt="more projects">
                                    <div class="work-info">
                                        <div class="work-title">Other projects</div>
                                        <div class="work-body">Even more.</div>
                                        <a class="work-link shake" href="Project/More"><i class="icon-plus"></i>&nbsp;Learn more</a>
                                    </div>
                                </div>
                                <div class="desc">
                                    More projects.
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

</div>
<!-- /slider -->

<div id="key" class="clearfix">

    <div class="container">

        <div class="row-fluid">
            <div class="span12">
                <h4 class="title stick dark-grey">Our company key features</h4>
            </div>
        </div>

        <div class="row-fluid font-centered">
            <div class="span4 jump">
                <h3 class="title grey"><i class="icon-th-large huge"></i>High Quality</h3>
                <p>We care about your products and customers, all your services won't be complete without full satisfaction of your clients.</p>
            </div>
            <div class="span4 jump">
                <h3 class="title grey"><i class="icon-plane huge"></i>Fast Delivery</h3>
                <p>We guarantee products fast development and delivery without deterioration of high quality and excessive prices.</p>
            </div>
            <div class="span4 jump">
                <h3 class="title grey"><i class="icon-flag huge"></i>Modern Technologies</h3>
                <p>We use only modern technologies which provide for your high reliability, scalability and maintainability.</p>
            </div>
        </div>

        <hr class="solid">

        <div class="row-fluid">
            <div class="span8">
                <h4 class="title dark-grey">Your development stack</h4>
                <div class="media-buzz">
                    <a href="#">
                        <img src="img/logos/aspmvc.png" alt="" class="tooltips" data-original-title="ASP.NET MVC">
                    </a>
                    <a href="#">
                        <img src="img/logos/dotnet.png" alt="" class="tooltips" data-original-title=".NET">
                    </a>
                    <a href="#">
                        <img src="img/logos/nodejs.png" alt="" class="tooltips" data-original-title="node.js">
                    </a>
                    <a href="#">
                        <img src="img/logos/html5.png" alt="" class="tooltips" data-original-title="Html5">
                    </a>
                    <a href="#">
                        <img src="img/logos/aws.png" alt="" class="tooltips" data-original-title="Amazon Web Services">
                    </a>
                    <a href="#">
                        <img src="img/logos/coffeescript.png" alt="" class="tooltips" data-original-title="Coffeescript">
                    </a>
                    <a href="#">
                        <img src="img/logos/sqlserver.png" alt="" class="tooltips" data-original-title="MS SQL Server">
                    </a>
                    <a href="#">
                        <img src="img/logos/mongobw.png" alt="" class="tooltips" data-original-title="Mongo data base">
                    </a>
                    <a href="#">
                        <img src="img/logos/appharbor.png" alt="" class="tooltips" data-original-title="Appharbor">
                    </a>
                    <a href="#">
                        <img src="img/logos/heroku.png" alt="" class="tooltips" data-original-title="Heroku">
                    </a>
                    <a href="#">
                        <img src="img/logos/octocat.png" alt="" class="tooltips" data-original-title="Github">
                    </a>
                    <a href="#">
                        <img src="img/logos/bitbucket.png" alt="" class="tooltips" data-original-title="Bitbucket">
                    </a>
                    <a href="#">
                        <img src="img/logos/jira.png" alt="" class="tooltips" data-original-title="JIRA">
                    </a>
                </div>
            </div>
            <div class="span4">
                <h4 class="title dark-grey">Latest Tweets</h4>
                <div class="media">
                    <div class="media-body">
                        <div class="bold">Data-Avail. @@@latestTweets[0].Name</div>
                        @Html.Raw(@latestTweets[0].Text)
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <div class="bold">Data-Avail. @@@latestTweets[1].Name</div>
                        @Html.Raw(@latestTweets[1].Text)
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
